APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mongodb
DB_HOST_MONGO=mongodb
DB_PORT_MONGO=
DB_DATABASE_MONGO=api
DB_USERNAME_MONGO=
DB_PASSWORD_MONGO=